/.ipynb_checkpoints
/.vscode
/model/deep
/model/barlowtwins
/model/shape_predictor_68_face_landmarks.dat
/dl/image_classifier
/data/*.jpg
/data/*.jpeg
/data/*.txt
/data/*.json
/data/face
/data/class*
/data/cheek
/data/unique_face
/cordova/node_modules
/.idea
/App/ncnn-android-yolox/.idea
/App/ncnn-android-yolox/.gradle
/App/test
/logs/